<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>创建非球面三维环境</title>
  <link rel="stylesheet" href="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Widgets/widgets.css" />
  <link rel="stylesheet" href="https://forweb.gbim360.com/latest/freedox/Examples/static/bucket.css">
<style>
    * {
      padding: 0;
      margin: 0;
    }

    html,
    body,
    #freedoContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .cesium-viewer-toolbar {
      left: 5px;
    }
  </style>
</head>

<body>

  <div id="freedoContainer" class="fullSize"></div>
  <div id="loadingOverlay">
    <h1>Loading...</h1>
  </div>
  <div id="toolbar"></div>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Freedo.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/ThirdParty/1710_lodash/lodash.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/FreedoX.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/turf.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/heatmap.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Sandcastle-header.js"></script>
  <script>
    //var viewer = Freedo.FdApp.createDefaultViewer('freedoContainer');
    var viewer = Freedo.FdApp.createDefaultViewer('freedoContainer', {
      // homeButton: true // 是否展示Home按钮
    }, {
      // hasProvinceBoundaries: true // 是否绘制中国省界
      planeMode: true // 平面模式
    });

    var url = 'https://forweb.gbim360.com/latest/sampleData/%E6%96%87%E5%8C%96%E5%AE%A42018z/tilesetS.json';

    var pModel = viewer.scene.primitives.add(new Freedo.FreedoPModelset({
      url: url,
      isPlaneViewer: true,
    }));
    pModel.readyPromise.then(function (tileset) {
      locate2(tileset);
    });

    function locate2(tileset) {
      if (tileset.ready) {
        Freedo.FdCamera.FdPlaneViewCameraHelper.flyToBoundingSphere(viewer.scene, tileset.boundingSphere, {
          offset: new Freedo.HeadingPitchRange(0.0, -0.5, 0.0),
          duration: 0.0
        });
      } else {
        alert('PModelSet尚未加载，请等待PModelSet加载完成之后再次尝试！');
      }
    }

    Sandcastle.addToolbarButton('定位', function () {
      locate2(pModel);
    });

    Sandcastle.addToolbarButton('修改颜色', function () {
      pModel.colorBlendMode = Freedo.Cesium3DTileColorBlendMode.REPLACE;
      pModel.style = new Freedo.Cesium3DTileStyle({
        color: "rgb(0, 255, 255)"
      });

      viewer.scene.requestRender();
    });

    Sandcastle.addToolbarButton('修改透明度', function () {
      pModel.colorBlendMode = Freedo.Cesium3DTileColorBlendMode.HIGHLIGHT;
      pModel.style = new Freedo.Cesium3DTileStyle({
        color: "rgba(255, 255, 255, 0.5)"
      });

      viewer.scene.requestRender();
    });

    Sandcastle.addToolbarButton('修改颜色和透明度', function () {
      pModel.colorBlendMode = Freedo.Cesium3DTileColorBlendMode.REPLACE;
      pModel.style = new Freedo.Cesium3DTileStyle({
        color: "rgba(255, 255, 0, 0.5)"
      });

      viewer.scene.requestRender();
    });

    var am = new Freedo.FdMicroApp.FdAnalysisManager(viewer);
    Sandcastle.addToolbarButton('多点坐标量测', function () {
      am.start('SINGLE_POINT');
    });

    Sandcastle.addToolbarButton('两点距离量测', function () {
      am.start('LINE_DISTANCE');
    });

    Sandcastle.addToolbarButton('多点距离量测', function () {
      am.start('SEGMENTS_DISTANCE');
    });

    Sandcastle.addToolbarButton('面积量测', function () {
      am.start('AREA');
    });

    Sandcastle.addToolbarButton('清空', function () {
      am.removeAll();
    });

  </script>
</body>

</html>