<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>第一人称示例</title>
  <link rel="stylesheet" href="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Widgets/widgets.css" />
  <link rel="stylesheet" href="https://forweb.gbim360.com/latest/freedox/Examples/static/bucket.css">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    html,
    body,
    #freedoContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .cesium-viewer-toolbar {
      left: 5px;
    }
  </style>
</head>

<body>
  <div class="background-plane"></div>
  <div id="freedoContainer" class="fullSize"></div>
  <div id="loadingOverlay">
    <h1>Loading...</h1>
  </div>
  <div id="toolbar"></div>



  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Freedo.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/ThirdParty/1710_lodash/lodash.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/FreedoX.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/turf.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/heatmap.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Sandcastle-header.js"></script>
  <script>
    var viewer = Freedo.FdApp.createDefaultViewer('freedoContainer', {
      shouldAnimate: true
    });

    let opt = ['第一人称示例',
      '点击启动按钮后，鼠标在场景中点击选择起始点',
      '然后用w、a、s、d控制前进后退，用四个方向键控制相机角度',
      '空格可起跳'
    ];
    Sandcastle.createTipsDOM(opt);

    var imageryManager = new Freedo.FdTools.FdImageryLayersManager(viewer);
    imageryManager.addDefaultImageryLayer();

    viewer.scene.globe.depthTestAgainstTerrain = true;

    //////////////////////////////////////////////////////////////////////////////////////////// 
    var tileset = new Freedo.Cesium3DTileset({
      url: 'https://ftp.gbim360.com/meisongjun/3836/tileset.json'
    });
    viewer.scene.primitives.add(tileset);
    viewer.zoomTo(tileset);

    ////////////////////////////////////////////////////////////////////////////////////////////
    var firstPersonControl
    Sandcastle.addToolbarButton('启动第一人称', function () {
      if (!Freedo.defined(firstPersonControl)) {
        var url = './static/Models/jiedai_nvz/jiedai_nvz.gltf';
        firstPersonControl = new Freedo.FdMicroApp.FdFirstPersonControl(viewer, url);

        firstPersonControl.moveSpeed *= 8.0; //启动时的移动速度(单位:米/秒)
        firstPersonControl.maxMoveSpeed = firstPersonControl.moveSpeed; //最大移动速度(单位:米/秒)，如果大于启动时的移动速度，则会匀加速直到二者相等

        firstPersonControl.rotateSpeed *= 2.0; //转向速度(单位:度/帧)
      }

      firstPersonControl.enabled = !firstPersonControl.enabled;
    });

    var scratchDepthIntersection = new Freedo.Cartesian3();
    function pickPosition(movement) {
      viewer.scene.pickPositionWorldCoordinates(movement.position, scratchDepthIntersection);
      if (Freedo.defined(scratchDepthIntersection)) {
        var cartographic0 = Freedo.Cartographic.fromCartesian(scratchDepthIntersection);
        alert(cartographic0.toString());
      }
    }

    var handler = new Freedo.ScreenSpaceEventHandler(viewer.scene.canvas);
    handler.setInputAction(pickPosition, Freedo.ScreenSpaceEventType.LEFT_DOUBLE_CLICK);

    viewer.showLogo = true;
  </script>
</body>

</html>