<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>相机四方向观察</title>
  <link rel="stylesheet" href="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Widgets/widgets.css" />
  <link rel="stylesheet" href="https://forweb.gbim360.com/latest/freedox/Examples/static/bucket.css">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    html,
    body,
    #freedoContainer {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .cesium-viewer-toolbar {
      left: 5px;
    }
  </style>

</head>

<body>
  <div class="background-plane"></div>
  <div id="freedoContainer" class="fullSize"></div>
  <div id="loadingOverlay">
    <h1>Loading...</h1>
  </div>
  <div id="toolbar"></div>



  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedo/Freedo/Freedo.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/ThirdParty/1710_lodash/lodash.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Freedo/freedox/FreedoX/FreedoX.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/turf.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/heatmap.min.js"></script>
  <script src="<%= VUE_APP_BASE_URL %>static/js/Sandcastle-header.js"></script>
  <script>
    var viewer = Freedo.FdApp.createDefaultViewer('freedoContainer');

    let opt = ['‘飞往南面’飞往模型的正南面', '‘飞往西面’飞往模型的正西面', '‘飞往北面’飞往模型的正北面', '‘飞往东面’飞往模型的正东面', '‘飞往上边’飞往模型的正上面',];
    Sandcastle.createTipsDOM(opt);

    ////////////////////////////////////////////////////////////////////////////////////////////
    var pmtsManager = new Freedo.FdTools.FdPMTSManager(viewer);
    var url = 'https://cfgateway.gbim360.cn/freeserver-pmts/services/share/0ab675ef-72de-4b52-ae0a-96dae76a95b4/pmts/1.1.0/PMTSCapabilities.json?accesskey=a748d6c5-16c5-40af-95d6-cdb2ffa4cb64';

    //指定数据的位置，如果数据本身没有带位置
    var pos = Freedo.Cartesian3.fromDegrees(116, 40, -15);
    var modelMatrix = Freedo.Transforms.eastNorthUpToFixedFrame(pos);

    var pmtsID = pmtsManager.add({
      id: 'wenhuashi',
      url: url,
      modelMatrix: modelMatrix, //如果数据本身已经带了坐标则不需要指定本参数
      flytoOrGoto: true //是否跳入到PMTS数据，true为跳入，false为飞入，默认飞入
    }, undefined);

    //加载完成后得到PModel
    var pModel, boundingSphere;
    pmtsManager.on(function (en, ev) {
      if (en == 'PModelLoaded') {
        //pmtsManager.getPmts(pmtsID).pModelInfos变量存放了该PMTS服务中包含的所有数据信息
        //可以遍历pModelInfos得到全部的PModel
        pModel = pmtsManager.getPmts(pmtsID).pModelInfos[0].pModel;
        boundingSphere = pModel.boundingSphere;
      }
    });
    ////////////////////////////////////////////////////////////////////////////////////////////

    // var pModel = viewer.scene.primitives.add(new Freedo.FreedoPModelset({
    //     url: '../../sampleData/文化室2018z'
    // }));

    // pModel.readyPromise.then(function(pModel) {
    //     console.log('ready!');
    //     viewer.camera.viewBoundingSphere(pModel.boundingSphere, new Freedo.HeadingPitchRange(0, -0.5, 0));
    //     viewer.camera.lookAtTransform(Freedo.Matrix4.IDENTITY);
    //     boundingSphere = pModel.boundingSphere;
    // });

    Sandcastle.addToolbarButton('飞往南面', function () {
      Freedo.FdCamera.flyToSouth(viewer.scene, boundingSphere);
    });
    Sandcastle.addToolbarButton('飞往西面', function () {
      Freedo.FdCamera.flyToWest(viewer.scene, boundingSphere);
    });
    Sandcastle.addToolbarButton('飞往北面', function () {
      Freedo.FdCamera.flyToNorth(viewer.scene, boundingSphere);
    });
    Sandcastle.addToolbarButton('飞往东面', function () {
      Freedo.FdCamera.flyToEast(viewer.scene, boundingSphere);
    });
    Sandcastle.addToolbarButton('飞往上边', function () {
      Freedo.FdCamera.flyToTop(viewer.scene, boundingSphere);
    });
  </script>
</body>
</body>

</html>